:root{
  --colorPrincipal: #f6eedf;
  --colorSecundario: #f64b3c;
  --colorFuente: #fff;

  /*----------------BEST-BURGER and BIG-BURGER-----------*/
  --tamaño_img:28.6vw;
  --tamaño_title:5.2vw;
  --tamaño_text:2.0vw;
}