.content-best_burger{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: 'bestBurguer__img bestBurguer-info';
  background-color: var(--colorSecundario);
  align-items: center;
  justify-items: center;
  /* padding: 0 130px; */
  padding: 0 6.7vw;
  gap: 30px;
}

.bestBurguer-info{
  grid-area: "bestBurguer-info";
  color: var(--colorFuente);
}

.bestBurguer__img{
  grid-area: "bestBurguer__img";
  /* height: 550px; */
  /* width: 550px; */

  height: var(--tamaño_img);
  width: var(--tamaño_img);
}

.bestBurguer__title{
  /* font-size: 100px; */
  font-size: var(--tamaño_title);

}

.bestBurguer__text{
  /* font-size: 40px; */
  font-size: var(--tamaño_text);
  font-weight: 300;
  /* margin: 70px 0px; */
  margin: 7.4vh 0px;

}

.bestBurguer__button{
  text-decoration: none;
  /* font-size: 40px; */
  font-size: var(--tamaño_text);
  white-space: nowrap;

  padding: 0.5vw 4.8vw;
  color: var(--colorSecundario);
  background-color: var(--colorFuente);
  border-radius: 50px;
  font-weight: 600;
  transition: 0.3s;
}
.bestBurguer__button:hover{
  filter: drop-shadow(0 0 15px var(--colorFuente));
}

@media(width < 770px){
  .content-best_burger{
    grid-template-columns: 1fr;
  }

.bestBurguer__img{
    width: 60vw;
    height: 60vw;
  }
  
  .bestBurguer-info{
    align-self: start;
    text-align: center;
  }
  .bestBurguer__title{
    font-size: 39px;
  }
  .bestBurguer__text{
    margin: 0;
    padding: 30px ;
    font-size: 17px;
  }
  .bestBurguer__button{
    font-size: 17px;
    padding: 10px 35px;
  }
}