
.content-subscription{
    background-color: var(--colorPrincipal);
    display: flex;
    flex-direction: column;
    justify-content: var(--justifyX);
    align-items: var(--alignY);
    color: var(--colorSecundario);
}

.content-subscription__imgFondo{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.content-subscription__titulo{
    font-size: 5.2vw;
    font-weight: var(--mayorGrosor);
}

.content-subscription__parrafo{
    width: 51%;
    text-align: var(--alignY);
    font-size: 1.9vw;
    line-height: 2.4vw;
    margin: 3vw 0;
    font-weight: 400;
}

.content-subscription__suscribirse{
    display: flex;
    align-items: var(--alignY);
    justify-content: var(--justifyX);
    width: 50%;
    height: 4.5vw;
    position: relative;
    z-index: 1;
}

.content-subscription__input{
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 2.2vw;
    border-radius: var(--cornerButtons) 0 0 var(--cornerButtons);
    font-size: 1.5vw;
    outline: none;

}

.content-subscription__boton{
    height: 100%;
    width: 40%;
    padding: 2px;
    border: none;
    background-color: var(--colorSecundario);
    color: var(--colorFuente);
    font-size: 1.5vw;
    border-radius:0 var(--cornerButtons) var(--cornerButtons) 0 ;
    cursor: pointer;
    transition: var(--timeTransition);
}

.content-subscription__boton:hover{
    filter: drop-shadow(0 0 1.1vw var(--colorSecundario));
}

@media(width<800px){
    .content-subscription__titulo{
        font-size: 30px;
        font-weight: 700;
    }
    .content-subscription__parrafo{
        font-size: 18px;
        line-height: 25px;
        width: 90%;
    }
    .content-subscription__suscribirse{
        flex-direction: column;
        height: 100px;
        gap: 20px;
        width: 90%;
    }

    .content-subscription__input{
        height: 40px;
        text-align: var(--alignY);
        border-radius: var(--cornerButtons);
        font-size: 15px;
    

    }
    .content-subscription__boton{
        height: 40px;
        border-radius: var(--cornerButtons);
        font-size: 15px;
        font-weight: 500;
        width: 40%;
    }
}