.content-statistics{
  display: flex;
  flex-direction: column;
  background-color: var(--colorSecundario);
  align-items: var(--alignY);
  color: var(--colorFuente);
  padding: 60px;

}

.content-statistics__titulo{
  font-size: 4.6vw;
  font-weight: var(--mayorGrosor);
}

.content-statistics__parrafo{
  display: inline-block;
  width: 850px;
  text-align: var(--alignY);
  margin: 60px 0;
  font-size: 1.3vw;

}

.content-statistics__info{
  display: flex;
  width: 65.1vw;
  justify-content: space-around;
}

.content-statistics__item{
  display: flex;
  flex-direction: column;
  align-items: var(--alignY);
  justify-content: var(--justifyX);
  width: 18.2vw;
  height: 18.2vw;
  border: solid 6px var(--colorFuente);
  border-radius: 50%;
  line-height: 4.1vw;
}

.content-statistics__numero{
  font-size: 6.2vw;
  font-weight: var(--mayorGrosor);
}

.content-statistics__palabra{
  font-size: 2.0vw;

}

@media(width<800px){
  .content-statistics__titulo{
    font-size: 32px;
  }
  .content-statistics__parrafo{
    width: 90%;
    font-size: 15px;
  }
  .content-statistics__info{
    flex-direction: column;
    align-items: var(--alignY);
    gap: 15px;
  }
  .content-statistics__item{
    border: solid 4px var(--colorFuente);
    width: 150px;
    height: 150px;
    line-height: 28px;
    text-align: var(--alignY);
  }
  .content-statistics__palabra{
    font-size: 17px;
  }
  .content-statistics__numero{
    font-size: 40px;
  }

  .content-statistics__parrafo{
    margin: 15px 0;
  }
}